.student-registration-steps {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.student-registration-location-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .student-registration-steps {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 621px) {
    .student-registration-steps {
        width: 95%;
        margin-top: 50px;
    }
}