.student-info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.student-profile-modal {
    cursor: pointer;
}

.student-home-cards-container {
    max-width: 410px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
}

.student-home-card {
    width: 200px;
    height: 150px;
}