.register-container {
    background-color: rgba(255, 255, 255, .7);
    width: 50%;
    margin: 0 auto;
    padding: 5px 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2.5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    height: 100%;
    text-align: center;
    overflow-y: auto;
}

.register-container-fields {
    margin-top: 15vh;
}

.hidden {
    display: none;
}

form {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
}

@media only screen and (max-width: 637px) {
    .register-container {
        width: 90%;
        height: 100%;
        padding-top: 5px;
        box-shadow: 0;
        border-radius: 0px;
    }

    form {
        width: 90%;
    }

    h1 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }
  }